.Example-holder {
	background-color: #222;
	padding-top: 100px;
	// background-color: #dfdfdf;
	width: 100vw;
	h1 {
		text-align: center;
	}
}

.Example-imageholder {
	cursor: pointer;
	width: 100vw;
	//background-color: #4e4e4e;
}

.Each-example {
	color: $light-text-color;
	padding: 2vh 0 2vh 0;
	border-bottom: 1px solid #ffffff;
	h2 {
		margin-left: 10%;
	}
	img {
			display: none;
		}
}

.Case-textholder {
	opacity: 1;
	transition: height .5s;
	//background-color: #FFFFFF;
	width: 100vw;
	height: 0;
	overflow: hidden;
	p {
		position: relative;
		top: 50%;
  		-webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  		transform: translateY(-50%);
		color: $light-text-color;
		margin: 0;
		padding: 0 10% 0 10%;
	}
}

@media screen and (min-width: 680px) {

	.Example-holder {
		overflow: hidden;
	}

	.Example-imageholder {
		overflow: hidden;
		cursor: pointer;
	}
	
	.Each-example {
		transition: .5s;
		border-bottom: 0;
		height: auto;
		padding-bottom: 0;
		h2 {
			margin-left: 0;
			text-align: center;
		}
	}

	.Each-example:hover {
		opacity: 1 !important;
	}

	.Example-image {
		display: block;
		margin: 0 auto;
		width: 200px;
		img {
			size: cover;
			height: 200px;
			width: 200px;
			display: inline;
			object-fit: cover;
			border-radius: 100%;
			border: 1px;
		}
		//img.desaturate { filter: grayscale(100%); }
	}

	.Example-imageholder-left {
		width: 33vw;
		float: left;
		//background-color: #2e2e2e;
	}

	.Example-imageholder-center {
		//background-color: #6e6e6e;
		opacity: 0.5;
		width: 34vw;
		float: left;
	}

	.Example-imageholder-right {
		width: 33vw;
		opacity: 0.5;
		float: right;
	}

	.Case-textholder {
		cursor: default;
		position: relative;
		transition: .5s;
		text-align: center;
		// width: 100vw;
		min-height: 300px;
		z-index: 1;
		p {
			padding: 50px 20% 100px 20%;
			cursor: text;
			// text-align: center;
			//width: 60vw;
			// margin: 0;
		}
	}

	.Case-textholder-left {
		position: relative;
		left: 0vw;
		// height: 200px;
	}

	.Case-textholder-center {
		position: relative;
		left: 65vw;
	}

	.Case-textholder-right {
		position: relative;
		left: 90vw;
	}
}

@media screen and (min-width: 960px) {
	.Case-textholder {
		p {
			padding: 10px 25% 100px 25%;
		}
	}
}

@media screen and (min-width: 1160px) {
	.Case-textholder {
		display: block;
		min-height: 300px;
		p {
			padding: 30px 30% 100px 30%;
		}
	}
}

@media screen and (max-width: 680px) {
	.Each-example {
		opacity: 1 !important;
	}
}