.wrap-Contact {
	margin: 0 auto;
	width: 90%;
}

.Contact {
	@extend .wrap-Contact;

	background: $color-grey;
	padding: 100px 5% 150px 5%;
	position: relative;
	text-align: center;
}

.Contact-form {
	width: 400px;
	max-width: 95%;
	margin: 0 auto;
	margin-top: 80px;

	h3 {
		text-align: left;
		margin-bottom: 10px;
	}
}

input {
	border: 1px solid #ddd;
	border-radius: 0;
	font: inherit;
	height: 100%;
	padding: 20px 20px;
	transition: all 200ms ease-in-out;
	width: 85%;

	&:hover {
		box-shadow: 0 0 3px #999;
	}

	&:focus {
		outline: none;
		border-radius: 0 25px 0 25px;
	}
}

button {
	border: 0;
	background: none;
	margin-top: 50px;

	img {
		width: 50px;
	}

	&:hover {
		cursor: pointer;
	}
}
