.ArrowDown {
	height: 34px;
	width: 100%;
	
	img {
		display: block;
		fill: #bbb;
		height: 34px;
		margin: 0 6.7%;
		width: 34px;
	}
}

.wrap-Concept {
	margin: 0 auto;
	width: 90%;
}

.Concept {
	@extend .wrap-Concept;

	background: #fff;
	padding: 150px 5% 115px 5%;
	position: relative;
	text-align: center;
}

.Concept-holder {
	margin: 0 auto;
	text-align: center;

	h1 {
		margin-top: 100px;
	}

	img {
		display: block;
		margin: 0 auto;
		width: 300px;
	}
}

@media screen and (min-width: 520px) {
	.ArrowDown {
	height: 34px;
	width: 100%;
	
	img {
		height: 34px;
		margin: 0 6.4%;
		width: 34px;
	}
	}

	.Concept-holder {

	img {
		display: block;
		margin: 0 auto;
		width: 400px;
	}
}
}

@media screen and (min-width: 680px) {
	.ArrowDown {
		height: 50px;
		width: 100%;
		
		img {
			height: 50px;
			margin: 0 auto;
			width: 50px;
		}
	}

	.Concept-holder {

		img {
			display: block;
			margin: 0 auto;
			width: 800px;
		}
	}
}