.Timeline {
	width: 100%;
	float: left;
}

// Hidden on small screen sizes
.Timeline-left {
	float: left;
	visibility: hidden;
    position: absolute;
    top: -9999px;
    padding-bottom: 500em;
    margin-bottom: -500em;
}

.Timeline-center {
	width: 10%;
	height: auto;
	height: 100%;
	overflow: hidden;
	background-color: #FFF;
	position: relative;
	float: left;
	padding-bottom: 500em;
    margin-bottom: -500em;
}

.Timeline-center--line {
	border-left: solid #626262;
	border-width: 1px;
    vertical-align:top;
	width: 1px;
	margin: 0 auto;
	height: 100%;
	position: absolute;
}

.Timeline-right {
	width: 90%;
	float: left;
	position: relative;
    color: $text-color;
    padding-bottom: 500em;
    margin-bottom: -500em;
    margin-right: -1px; /* Thank you IE */
}

.Timeline-right--textbox {
	padding: 100px 10% 0 10%;
	max-width: 300px;
}

@media screen and (min-width: 0px) {
	.Timeline-center {
		width: 20%
	}
	.Timeline-right {
		width: 80%;
	}
}

@media screen and (min-width: 470px) {
	.Timeline-center {
		width: 15%
	}
	.Timeline-right {
		width: 85%;
	}
}

@media screen and (min-width: 680px) {
	.Timeline-left {
		visibility: visible;
    	position: static;
    	top: 0px;
    	background-color: #DDD;
		width: 45%;
		float: left;
	}
	.Timeline-center {
		width: 10%;
	}
	.Timeline-right {
		width: 45%;
	}
}