.wrap {
	margin-top: 150px;
	margin: 0 auto;
	width: 90%;
}

.group {
	clear: both;
	content: "";
	display: table;
}

.Timeline-box {
	@extend .wrap;
	@extend .group;
	
	padding-bottom: 50px;
	position: relative;
}

.Timeline-box--first {
	margin-top: 0px;
}

.Timeline-lineContainer {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 50px;
}

.Timeline-line {
	background: #bbb;
	height: 100%;
	left: 50%;
	position: absolute;
	width: 1px;
}

.Timeline-lineIcon {
	position: absolute;
	left: 50%;
	margin-left: -17px;
	height: 34px;
	width: 34px;

	img {
		width: 34px;
		height: 34px;
		border-radius: 0 8px 0 8px;
	}
}

.Timeline-content {
	float: right;
	padding-top: 6px;
	width: 85%;
	
	& > * {
		width: 100%;
	}
}

.Timeline-imageContainer {
	height: 100%;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;

	img {
		display: block;
		height: 200px;
		margin: 0 auto;
		max-width: 200px;
	}
}

.Timeline-text {
	h1 {
		margin: 0;
		padding: 0 5% 0 5%;
	}

	p {
		padding: 0 5% 0 5%;
	}
}

@media screen and (min-width: 680px) {
	.Timeline-box {
		padding-bottom: 150px;
	}

	.Timeline-lineContainer {
		left: 50%;
		margin-left: -25px;
	}

	.Timeline-lineIcon {
		margin-left: -20px;
		height: 40px;
		width: 40px;

		img {
			width: 40px;
			height: 40px;
			border-radius: 0 10px 0 10px;
		}
}
	
	.Timeline-content {
		width: 100%;
		
		& > * {
			width: 45%;
		}
	}
	
	.Timeline-text {
		float: right;
	}
	
	.Timeline-imageContainer {
		float: left;
		padding-top: 50px;
		padding-bottom: 0;
		
		img {
			display: block;
			height: 200px;
			margin: 0 auto;
			max-width: 250px;
		}
	}
}