html {
    padding:0;
    margin: 0;
}

body {
   padding: 0;
   margin: 0; 
}

.Hero {
    background-image:  url("../../resources/business-communication-devices-3368.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    
    height: 100vh;
    font-family: arial;

    h1 {
        font-weight: bold;
    }


}

.Hero-holder {
    margin-top: 0;
    width: 50%;
    margin: 0 auto;
    padding-top: 20%;
    padding-bottom: 20%;
}