
@charset "utf-8";

// Variables

$base-font-family: Helvetica, sans-serif;
$heading-font-family: Helvetica, sans-serif;
$base-font-size: 20px;
$base-font-weight: 100;

$background-color: #FFF;
$text-color: #323232;
$light-text-color: #FFF;

/**
* Basic styling
*/

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: 150%;
}

/**
* Imports from stylesheet components
*/

@import 
    "utilities",
    "hero",
    "timeline" 
;