
@charset "utf-8";

// Variables

$base-font-family: "proxima-nova", Helvetica, sans-serif;
$heading-font-family: "ff-tisa-sans-web-pro", Helvetica, sans-serif;
$base-font-size: 20px;
$h1-font-size: 30px;
$h2-font-size: 26px;
$h3-font-size: 20px;
$base-font-size-small: 16px;
$h1-font-size-small: 26px;
$h2-font-size-small: 22px;
$h3-font-size-small: 16px;

$light-font-weight: 300;
$regular-font-weight: 400;
$semibold-font-weight: 600;
$bold-font-weight: 700;

$background-color: #FFF;
$color-blue: #0071BC;
$color-grey: #eee;
$text-color: #555;
$light-text-color: #fff;

/**
* Basic styling
*/

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $base-font-family;
    font-size: $base-font-size-small;
    font-weight: $light-font-weight;
    line-height: 150%;
}

p {
    font-family: $base-font-family;
    font-size: $base-font-size-small;
    font-weight: $light-font-weight;
}

h1 {
    font-family: $base-font-family;
    font-size: $h1-font-size-small;
    font-weight: $bold-font-weight;
}

h2 {
    font-family: $base-font-family;
    font-size: $h2-font-size-small;
    font-weight: $bold-font-weight;
}

h3 {
    font-family: $base-font-family;
    font-size: $h3-font-size-small;
    font-weight: $bold-font-weight;
}

@media screen and (min-width: 680px) {
    body {
        font-size: $base-font-size;
    }
    p {
        font-size: $base-font-size;
    }
    h1 {
        font-size: $h1-font-size;
    } 
    h2 {
        font-size: $h2-font-size;
    } 
    h3 {
        font-size: $h3-font-size;
    }
    a {
        text-decoration: none;
        color: $text-color;
    }
    a:hover {
        color: #aaa;
    }
}

/**
* Imports from stylesheet components
*/

@import 
    "utilities",
    "hero",
    "timeline",
    "infoboxes",
    "case",
    "contact",
    "concept",
    "footer",
    "quote"
;